<style>
    footer {
        background-color: maroon;
        color: whitesmoke;
        padding: 1em;
        text-align: center;
    }
    a {
        color: whitesmoke;
    }

    *::selection {
        color: darkred;
        background-color: lightgray;
    }

    a::selection {
        color: black
    }
</style>

<footer>
    Made with ❤️ by
    <a
        href='https://www.samridh.live' 
        target = '_blank'
        rel = 'noreferrer'
    >Samridh</a>
</footer>