<style>
    footer {
        background-color: maroon;
        color: whitesmoke;
        padding: 1em;
        text-align: center;
    }
    a {
        color: whitesmoke;
    }
</style>

<footer>
    Made with ❤️ by
    <a
        href='https://www.samridh.live' 
        target = '_blank'
        rel = 'noreferrer'
    >Samridh</a>
</footer>