---
const currentPath: string = new URL(Astro.request.url).pathname;

type pageLink = {
    link: string;
    title: string;
};

const pages: pageLink[] = [
    {
        link: '/witcher-2022',
        title: 'Witcher 2022 Campaign'
    },
    {
        link: '/witcher-2022/session-notes',
        title: 'Witcher 2022 Session Notes'
    }
]
---
<style>
    
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        background-color: maroon;
        color: white;
        padding-inline: 5vw;
    }

    *::selection {
        color: darkred;
        background-color: lightgray;
    }

    a::selection {
        color: black
    }

    a {
        color: whitesmoke;
        padding: 1em;
        
        display: flex;
        justify-content: center;
        align-items: center;
        
        text-decoration: none;
    }

    a:hover {
        background-color: darkred;
    }

    .active {
        color: yellow;
    }

    a.logo-link {
        margin-right: auto;
        gap: 0.5em;
    }

    img.logo {
        height: 2em;
    }

    @media only screen and (max-width: 600px) {
        nav {
            flex-direction: column;
            padding-inline: 0;
        }
        a {
            width: calc(100% - 2em);
        }
        a.logo-link {
            margin-right: 0;
        }
    }
</style>

<nav>
    <a
        href='/'
        class={ 'logo-link ' + (
                '/' === currentPath
                    ? 'active'
                    : 'inactive'
            )
        }
    >
    <img src="/d20.svg" class='logo' alt='logo'/>
        Sam's DnD
    </a>
    {pages.map(
        page =>
            <a
                href={page.link}
                class={
                    page.link === currentPath
                        ? 'active'
                        : 'inactive'
                }
            >
                {page.title}
            </a>
        )}
</nav>